[Unit]
Description=mpdsonglisten

[Service]
Type=oneshot
ExecStart=/usr/bin/mpdsonglisten localhost 6600 /usr/bin/art /usr/bin/killart

[Install]
WantedBy=multi-user.target