[Unit]
Description=mpdsonglisten

[Service]
Type=oneshot
ExecStart=/usr/bin/mpdsonglisten localhost 6600 art killart

[Install]
WantedBy=multi-user.target